*{
    margin: 0;
    padding: 0;
}
.loader-wrapper{
    width:  100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ff5e14;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.loader-wrapper--hidden{
    display: none;
}
.loader{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
   
    animation: loader 2s infinite ease;
}
.loader-inner{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    animation: loader-inner 2s infinite ease;
}
@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
} 
.top-bar{
    padding: 0 7% 0 10%;
    justify-content: space-between;
}
.top-bar .container:last-child{
    width: fit-content;
}
/* -------header--------*/
/* #header2{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
} */
.navbar-brand img{
    max-width: 170px;
    margin-left: 55px;
}
.navbar-collapse{
    margin-left: 105px;
    
}
.navbar{
    background-color: rgba(255, 255, 255, 0.1);;
}
.home-layer{
    margin-top: 7rem;
}
.home-layer .row{
    margin: auto;
 } 
.header-btn .btn{
    position: relative;
}
.botton-icon::before {
    position: absolute;
    content: " ";
    width: 1px;
   background-color:#f3eded;
    height: 100%;
    top: 0;    
}
.header-btn button:hover{
    background-color: #ff5e14 !important;
}



/* -------Upper-footer-------- */
.foot-before ul{
    position: relative;
}
.foot-before ul li::before{
    content: " ";
    background:  #c2c4c8;
    width: 10px;
    height: 1px;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    margin-top: 9px;
       
}
.input{
    position: relative;
}
.input span{
    position: absolute;
    content: "";
    top: 12px ;
    right: 30px;
    font-size: 20px;
}
.up-icon  i{
    color: #c2c4c8;
    font-size: small;
    margin-left: 6px;
   
}

.up-icon .col:hover{
    background-color: #ff5e14;
}
.up-icon{
    width: 85%;
}

.before-after h3{
    position: relative;
}
.before-after h3::before{
    content: " ";
    background: #ff5e14;
    width: 60px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -14px;    
}
.before-after h3::after{
    content: " ";
    background: #ff5e14;
    width: 20px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    left: 65px;
    bottom: -14px;
}

.service-head{
    display: none;
 }
 .service-info .row .col:first-child{
    flex: 1;
}
.service-info .row .col:last-child{
    flex: 3;
}
 .dropdown-menu li{
    padding: 9px !important;
 }
   /* --------footer--------- */
.contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right ul{
    gap: 3rem;
}

@media only screen and (max-width: 600px){
    #header{
        display: none;
    }
    .header-btn{
        display: none !important;
    }
    .navbar .navbar-collapse{
        position: fixed;
        top: 12%;
        background-color: white;
       margin-left: 0;
        width: 100%;
    }
    .navbar-collapse li a{
        color: black !important;
      
    }
    

.fa-bars:before{
    content: "";
}

    .btn{
        display: none;
    }
    /* .navbar-collapse{
        color: white;
    } */
    .navbar-toggler{
        background-color: #ff5e14;
        
    }
    #home{
        height: 170vh;
        max-width:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .home-layer .row{
        width: 55% !important;
     } 
     .home-layer h1{

        font-size: 35px;
     }
     
    .navbar-brand img{
        margin-left: 5px;
    }

    .before-after{
        width: 400px;
        flex: none;
        margin-top:4rem;
    }
    .up-inner{
        padding: 16px !important;
    }
   

    .word{
        width: 70px;
    }
    .foot2{
        margin-left: 30px !important;
    }
    footer .container .foot-det{
        flex: none;
    }
    .foot-2 li {
      list-style: none;  
    }
    .foot-det p{
        margin-left: 25px  !important;
    }
              /* --------footer--------- */
.contain{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .right ul{
        padding-left: 0;
    }
     /* -------services----- */
     .service{
        margin-top: rem;
       margin-bottom: rem;
       padding: 0 !important;
      }
      .service .container{
       padding-top: 1rem;
      padding-bottom: 2rem;

     }
     .service-info  i{
        padding: 14px!important;
        margin-top: 13px;
        
     }


}